{% extends "book.html" %}
{% load static %}

{% block title %}
Create Book
{% endblock %}


{% block content %}

<div class="container fade-in">

    <h1 class="page-title">Create New Item</h1>

    <form method="POST" class="card-form">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="actions">
            <button type="submit" class="btn btn-success">
                Save
            </button>

            <a href="{% url 'booklist' %}" class="btn btn-danger">
                Cancel
            </a>
        </div>
    </form>

</div>

{% endblock %}
